# import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os
%matplotlib inline

# reading csv files

In [11]:

# Path to the data folder relative to the notebooks folder
folder_path = os.path.join('..','data')

# Construct the pattern to match all CSV files in the folder
pattern = os.path.join(folder_path, '*.csv')

# Use glob.glob to find all files matching the pattern
csv_files = glob.glob(pattern)

# Print the list of CSV file paths
for csv_file in csv_files:
    print(csv_file)
    # print(csv_file.split('\\')[-1].split('.')[0])

..\data\colors.csv
..\data\inventories.csv
..\data\inventory_parts.csv
..\data\inventory_sets.csv
..\data\parts.csv
..\data\part_categories.csv
..\data\sets.csv
..\data\themes.csv

In [20]:
# Dictionary to hold your dataframes
dataframes = {}

for file_path in csv_files:
    # Extract the file name without extension
    file_name = os.path.splitext(os.path.basename(file_path))[0]
    # Read the CSV file and assign it to a key in the dictionary
    dataframes[file_name] = pd.read_csv(file_path)

In [28]:
for key,value in dataframes.items():
    print(key)
    print(value.head())
    print('-----------------------')

colors
   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f
-----------------------
inventories
   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1
-----------------------
inventory_parts
   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f
-----------------------
inventory_sets
   inventory_id  set_num  quantity
0            35  75911-1         1
1            35  75912-1         1
2            39  75048-1         1
3            39  75053-1         1
4            50   4515-1         1
-----------------------
parts
  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3     0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4     0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1
-----------------------
part_categories
   id                     name
0   1               Baseplates
1   2           Bricks Printed
2   3            Bricks Sloped
3   4  Duplo, Quatro and Primo
4   5           Bricks Special
-----------------------
sets
  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12
-----------------------
themes
   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0
3   4  Expert Builder        1.0
4   5           Model        1.0
-----------------------

In [29]:
# Dictionary hold all those csv files,if want to call colors.csv , use dataframes['colors']
dataframes['colors']

       id                          name     rgb is_trans
0      -1                       Unknown  0033B2        f
1       0                         Black  05131D        f
2       1                          Blue  0055BF        f
3       2                         Green  237841        f
4       3                Dark Turquoise  008F9B        f
..    ...                           ...     ...      ...
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

[135 rows x 4 columns]

# check csv files

#### inventories table

In [45]:
dataframes['inventories'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11681 entries, 0 to 11680
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11681 non-null  int64
 1   version  11681 non-null  int64
 2   set_num  11681 non-null  object
dtypes: int64(2), object(1)
memory usage: 273.9+ KB

In [32]:
dataframes['inventories']['id'].nunique() # id is unique

11681

In [39]:
dataframes['inventories']['set_num'].nunique() # set_num is not unique

11670

In [43]:
# set_num + version is unique, so each set_num + version has an unique id in this inventories table
dataframes['inventories'][dataframes['inventories'].duplicated(['set_num','version'], keep=False)]

Empty DataFrame
Columns: [id, version, set_num]
Index: []

#### inventory_sets

In [44]:
dataframes['inventory_sets'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846 entries, 0 to 2845
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  2846 non-null   int64
 1   set_num       2846 non-null   object
 2   quantity      2846 non-null   int64
dtypes: int64(2), object(1)
memory usage: 66.8+ KB

In [46]:
dataframes['inventory_sets']['inventory_id'].nunique() # inventory_id is not unique

589

In [47]:
dataframes['inventory_sets']['set_num'].nunique() # the number of set_num's unique value > than inventory_id unique value

2306

In [48]:
dataframes['inventory_sets'][dataframes['inventory_sets'].duplicated(['set_num','inventory_id'], keep=False)]  # set_num + inventory_id is unique

Empty DataFrame
Columns: [inventory_id, set_num, quantity]
Index: []

In [ ]:
# group discussion:
Pinky: Average number of lego pieces per box
Nandar: Overall top 5 most popular theme
Hassan: TBD
Daisy: top5 MOST COMMOMÂ andÂ rareÂ parts